@import '/Users/vyusfire/github/stylus-bem-sugar/bem-sugar.styl'

+b('dropdown')
  position: relative
  border-bottom: 0.5px solid #485159;
  border-top: 0.5px solid #6c737a;
  +e('inner')
    background: #606A75;
    padding: 0.6em
    display: flex
    align-items: center
  +e('selected')
    flex: 4 1 0em
    font-size: 0.75em
    color: #5face4
    width: 0.8em
    overflow: hidden
    height: 1.2em
    white-space: nowrap;
    text-overflow: ellipsis
    padding: 0 0.3em
  +m('disabled')
    +e('btn')
      color: #333
      cursor: default
      &:hover
        border-bottom-color: transparent

  +e('btn')
    flex: 1 1 0em
    padding: 0 0.3em
    cursor: pointer
    outline: none
    font-size: 1em
    background-color: transparent
    border-radius: 0
    border-style: none
    color: white
    text-transform: uppercase
    border-bottom: 1px solid #606A75
    &:hover
      border-bottom-color: white
    &:before
      content: '\25BE'
      margin-right: 0.3em

  +e('popup')
    color: white
    position: relative
    // I know that this is bad idea
    > ul
      // display: none
      z-index: 2
      background-color: #484e54
      border-top: 0.3em solid #5face4
      margin: 0
      padding: 0
      list-style-type: none
      position: absolute
      top: -0.2em
      left: 0.9em
      right: 1em

      > li
        padding: 0.3em
        input[type="checkbox"]
          margin: 0 0.6em
