@import '/Users/vyusfire/github/stylus-bem-sugar/bem-sugar.styl'

+b('select')
  width: 30px
  margin: 0
  color: #5face4
  text-align: center
  font-size: 0.65em
  position: relative
  cursor: pointer;
  &:before
  &:after
    content: ''
    display: block
    min-height: 5px
    width: 100%
    background: #3d444b
  &:before
    border-radius: 3px 3px 0 0
  &:after
    border-radius: 0 0 3px 3px
  +e('label')
    text-align: center;
    width: 100%
    background: #3d444b;
  +e('popup')
    position: absolute;
    z-index: 1
    width: 100%;
    background-color: #3d444b;
    min-height: 5px;
    left: 0;
    border-radius: 0 0 3px 3px;
  +e('option')
    line-height 1.5
    background-color: transparent
    border-style: none
    color: #888
    outline: none
    cursor: pointer
