.select {
  width: 30px;
  margin: 0;
  color: #5face4;
  text-align: center;
  font-size: 0.65em;
  position: relative;
  cursor: pointer;
}
.select:before,
.select:after {
  content: '';
  display: block;
  min-height: 5px;
  width: 100%;
  background: #3d444b;
}
.select:before {
  border-radius: 3px 3px 0 0;
}
.select:after {
  border-radius: 0 0 3px 3px;
}
.select__label {
  text-align: center;
  width: 100%;
  background: #3d444b;
}
.select__popup {
  position: absolute;
  z-index: 1;
  width: 100%;
  background-color: #3d444b;
  min-height: 5px;
  left: 0;
  border-radius: 0 0 3px 3px;
}
.select__option {
  line-height: 1.5;
  background-color: transparent;
  border-style: none;
  color: #888;
  outline: none;
  cursor: pointer;
}
