.filter {
  background: #4e5761;
  font-size: 16px;
  width: 18.75em;
  min-height: 200px;
  margin: 0 auto;
  border-bottom: 6px solid #333;
}
.filter__save {
  flex-grow: 0;
  margin: 1em;
  background: rgba(0,0,0,0);
  cursor: pointer;
  border-radius: 0.3em;
  border-style: solid;
  border-width: 1px;
  border-color: #485159;
  background-color: #67717e;
  color: #5d6674;
  outline: none;
}
.filter__save--active {
  color: #fff;
}
.filter__save--active:active {
  transform: translateY(10%);
}
.filter__header {
  overflow: hidden;
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid #485159;
  border-top: 0.5px solid #6c737a;
  background: #606a75;
}
.filter__heading {
  flex-grow: 8;
  color: #fff;
  margin: 0;
}
.filter__btn-move {
  border-radius: 0.3em;
  border-color: #333;
  box-sizing: border-box;
  padding: 0;
  margin: 0.6em;
  border: 2px solid #485159;
  height: 30px;
  width: 30px;
  display: block;
  background-color: #67717e;
  outline: none;
  cursor: pointer;
}
.filter__btn-move:active {
  cursor: move;
}
.filter__btn-move > span {
  display: block;
  height: 2px;
  width: 85%;
  margin: 5px auto;
  background-color: #485159;
}
.filter__results {
  position: relative;
  border-top: 2px solid #333;
  padding: 0.3em 1em;
  height: 300px;
}
.filter__results ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #fff;
}
