@import '/Users/vyusfire/github/stylus-bem-sugar/bem-sugar.styl'

+b('filter')
  background: #4e5761;
  font-size: 16px;
  width: 18.75em;
  min-height: 200px;
  margin: 0 auto;
  border-bottom: 6px solid #333;
  +e('save')
    flex-grow: 0;
    margin: 1em;
    background: rgba(0, 0, 0, 0);
    cursor: pointer;
    border-radius: 0.3em;
    border-style: solid;
    border-width: 1px;
    border-color: #485159;
    background-color: #67717e;
    color: #5d6674;
    outline: none;
    +m('active')
      color: #fff
      &:active
        transform: translateY(10%);
  +e('header')
    overflow: hidden;
    display: flex;
    align-items: center;
    border-bottom: 0.5px solid #485159;
    border-top: 0.5px solid #6c737a;
    background: #606a75;
  +e('heading')
    flex-grow: 8
    color: #fff
    margin: 0
  +e('btn-move')
    border-radius: 0.3em;
    border-color: #333;
    box-sizing: border-box;
    padding: 0;
    margin: 0.6em;
    border: 2px solid #485159;
    height: 30px;
    width: 30px;
    display: block;
    background-color: #67717e;
    outline: none;
    cursor: pointer;
    &:active
      cursor: move;
    > span
      display: block;
      height: 2px;
      width: 85%;
      margin: 5px auto;
      background-color: #485159;
  +e('results')
    position: relative;
    border-top: 2px solid #333;
    padding: 0.3em 1em;
    height: 300px;
    ul
      margin: 0;
      padding: 0;
      list-style-type: none;
      color: white
