.search-bar {
  color: #fff;
  padding: 0.3em 1em;
}
.search-bar button {
  cursor: pointer;
  margin: 0 0.3em;
}
.search-bar__select {
  float: left;
}
.search-bar__input {
  background-color: #3d444b;
  border-style: none;
  border-radius: 0.3em;
  display: block;
  height: 2.75em;
  box-sizing: border-box;
  width: 80%;
  margin: 0.3em auto 0.3em 0;
  color: #fff;
  outline: none;
  padding: 0.6em;
}
.search-bar__sort-btn {
  border-radius: 0.3em;
  border-style: solid;
  border-color: #3d444b;
  background-color: #3d444b;
  color: #5face4;
  outline: none;
}
.search-bar__sort-btn--active {
  border-color: #5face4;
}
.search-bar__sort-btn:active {
  transform: translateY(5%);
}
