@import '/Users/vyusfire/github/stylus-bem-sugar/bem-sugar.styl'

+b('search-bar')
  color: white
  padding: 0.3em 1em
  button
    cursor: pointer
    margin: 0 0.3em
  +e('select')
    float: left
  +e('input')
    background-color: #3d444b
    border-style: none;
    border-radius: 0.3em;
    display: block
    height: 2.75em;
    box-sizing: border-box;
    width: 80%;
    margin: 0.3em auto 0.3em 0
    color: #fff;
    outline: none;
    padding: 0.6em;
  +e('sort-btn')
    border-radius: 0.3em
    border-style: solid
    border-color: #3d444b
    background-color: #3d444b
    color: #5face4
    outline: none
    +m('active')
      border-color: #5face4
    &:active
      transform: translateY(5%)
